.jp-Notebook .jp-CodeCell:first-of-type {
    display: none !important;
}

.jp-MarkdownCell, .jp-CodeCell {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.jp-RenderedMarkdown p {
    line-height: 1.7;
    font-size: 1.05em;
}


blockquote {
    border-left: 5px solid #4a90e2;
    padding-left: 15px;
    color: #555;
}